*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* login registration and reset password*/
.banner img{
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.overlay{
  position: absolute;
  padding: 10px 30px;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(170, 169, 169, 0.63);
  border-radius: 30px;
  box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.5);
}

.eye-login {
  position: absolute;
  top: 50%;
  right: 3%; /* Adjust the distance from the right side */
  cursor: pointer;
}

.links{
  color: rgb(8, 3, 73);
}

b{
  font-weight: 800;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*loader*/
.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader{
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: red;
  border-radius: 50%;
  display: inline;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/*navbar*/
.navbar{
  background: linear-gradient(
    160deg,
    rgba(0, 32, 45, 0.808) 0%,
    rgb(0, 205, 205) 45%,
    rgba(0, 32, 45, 0.938) 100%
  );

}

.nav-link{
  color: #ffffff !important;
  position: absolute;
  width: 250px;
  max-width: 100%;
  right: 130px;
  top: 0;
  text-align: center;
}

.navbar-brand{
  color: rgb(255, 255, 255) !important;
  position: absolute;
  left: 120px;
}

.nav-item2{
  position: absolute;
  top: 14px;
  right: 10px;
  color: white ;
}

.logo{
  position: absolute;
  top: 5px;
  left: 30px;
  width: 65px;
  border-radius: 20%;
  border: 1px solid #000000;
}

.container-nav{
  display: flex;
  align-items: center;
  height: 50px;
}

.pass{
  position: relative;
}

/* buttons of features*/
.box{
  background: #ddd7d7;
  border-radius: 2cap;
  border-width: 1px;
  text-align: center;
  width: 90pc;
  margin-right: 5px;
  border: none ;
}

.searchbox{
  display: flex;
  position: absolute;
  right: 20px;
  width:30%;
  height: 33px;
  margin-top: 10px;
}

.cont-add{
  display: flex;
  width: 81vw;
}

.searchbox-buffered{
  display: flex;
  width:80vw;
  height: 33px;
  margin: 20px;
}

.searchbox-all{
  display: flex;
  position: absolute;
  right: 20px;
  width:40%;
  height: 33px;
  margin-top: 20px;
  margin-left: 39%;
}

.add{
  width: 17%;
  text-align: center;
  margin-top: 10px;
  padding: 3px 2px;
  background: #ddd7d7;
  border-width: 2px;
  border-radius: 2cap
}

.add-all{
  width: 17%;
  text-align: center;
  margin-top: 20px;
  padding: 3px 2px;
  background: #ddd7d7;
  border-width: 2px;
  border-radius: 2cap
}

.availQuant{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0; 
  width: 15vw;
  margin-left: 10vw;
  text-align: center;
  background: #ddd7d7;
  border-radius: 2cap;
  border-width: 1px;
}

.search{
  margin-right: 5px;
}

/* prediction alert */
.alert{
  width: 81vw;
}

/* data table */
.table{
  display: flexbox;
  width: 81vw;
}

/* title of eaach page*/
.stat-head{
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* page number */
.pagination{
  width: 81vw;
}


@media only screen and (max-width: 767px) {

  .banner img{
    height: 101%;
    width: 100%;
  }

  .overlay{
    padding: 0 30px;
    width: 70%;
  }

    .navbar-link {
        width: 100%;
        max-width: none;
        position: relative;
        right: auto;
        text-align: left;
    }

    .navbar-brand {
        position: relative;
        left: 20px;
        text-align: left;
    }

    .nav-item2 {
        position: relative;
        top: auto;
        left: 150vw;
    }

    .logo {
        position: relative;
        top: 0px;
        left: 10px;
    }

    .navbar {
      background: linear-gradient(
        160deg,
        rgba(0, 32, 45, 0.808) 0%,
        rgb(0, 205, 205) 45%,
        rgba(0, 32, 45, 0.938) 100%
      );
        width: 310vw;
    }

    .table{
      width: 310vw;
    }

    .cont-add{
      display: flex;
      width: 310vw;
    }

    .searchbox {
      display: flex;
      position: absolute;
      left: 200vw;
      width:70%;
      margin: 10px 10px;
    }

    .add {
      width: 20%;
      margin-top: 10px;
  }

    .availQuant {
        margin: 100px;
        padding: 5px;
        width: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box {
        width: 70%;
        margin-bottom: 5px;
        height: 35px;
    }

    .search {
        margin-right: 0;
    }
    .stat-head{
      text-align: center;
      width: 310vw;
      margin-top: 20px;
      font-size: xx-large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .alert{
      width: 310vw;
    }

    .statistics{
      width: 310vw;
    }

    .pagination{
      width: 310vw;
    }
}
